@import 'tailwindcss';

html,
body {
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    @apply font-exo;
}

a {
    @apply underline px-2 py-1;
}

a:focus-visible {
    @apply outline-2 outline-slate-200 rounded-lg;
}

a:hover,
button:hover {
    @apply cursor-pointer;
}

button:disabled:hover {
    @apply cursor-not-allowed;
}

@utility secondary-text {
    @apply bg-slate-900 text-zinc-200;
}

@utility secondary-text-pseudo {
    @apply not-disabled:hover:bg-slate-800 not-disabled:active:bg-slate-700 rounded-sm;
}

@theme {
    --font-yesteryear: 'Yesteryear', cursive;
    --font-exo: 'Exo', sans-serif;
    --breakpoint-xs: 30rem;
}
